<h1>welcome, <%= current_user.name.downcase %></h1>
  <p>it's a great day to be in <%= @weather_music.location.split(",")[0] %></p>
  <div class="current-temp">
    <h1><%= @weather_music.forecast_temp %>°<h1>
  </div>


  <div class="forecast-details">
    <p>city: <%= @weather_music.forecast_city_name.downcase %></p>
    <p>country: <%= @weather_music.forecast_country_name.downcase %></p>
    <p>description: <%= @weather_music.forecast_description.downcase %></p>
    <p>current low: <%= @weather_music.forecast_temp_min %>°</p>
    <p>current high: <%= @weather_music.forecast_temp_max %>°</p>
  </div>

<%= form_tag(dashboard_path, method: "get") do %>
  <%= label_tag :city, 'city'%>
  <%= text_field_tag :city %>
  <%= label_tag :state, 'state' %>
  <%= select_tag(:state, options_for_select(us_states), { include_blank: true }) %>
  <%= label_tag :country, 'country' %>
  <%= select_tag(:country, options_for_select(countries), { include_blank: true }) %>
  <%= submit_tag "weather-bop somewhere else" %>
<% end %>

<iframe src=<%= @weather_music.url(0) %>, width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

<div class="track-list">
  <p>
  <h2> featured tracks: </h2>
  <p>
  <% @weather_music.tracks.each do |track| %>
    <ul>
      <% if @weather_music.tracks[0] == track  %>
      <h6><b>now playing:</b></h6>
      <strong>artist:</strong> <%= track.artist.downcase %>
      <p><strong>title:</strong> <%= track.title.downcase %>
      <p>-------------------</p>
      <% else %>
      <strong>artist:</strong> <%= track.artist.downcase %>
      <p><strong>title:</strong> <%= track.title.downcase %>
      <strong>▶</strong>
      <% end %>
    </ul>
  <% end %>
</div>
