<h1>welcome, <%= current_user.name %></h1>
<p>it's a great day to be in <%= current_user.default_location %></p>

<div class="current-temp">
  <h1><%= @weather_music.forecast_temp %>°<h1>
</div>

<div class="forecast-details">
  <p>city: <%= @weather_music.forecast_city_name.downcase %></p>
  <p>country: <%= @weather_music.forecast_country_name.downcase %></p>
  <p>description: <%= @weather_music.forecast_description.downcase %></p>
  <p>current low: <%= @weather_music.forecast_temp_min %>°</p>
  <p>current high: <%= @weather_music.forecast_temp_max %>°</p>
</div>
