<!DOCTYPE html>
<html>
  <head>
    <title>weather-bop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% flash.each do |name, msg| %>
    <div class="alert alert-warning alert-dismissible fade show flash" role="alert" data-dismiss="alert">
     <p style="text-align:center; color:green; font-size:30px;"><%= msg %></p>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
